<div style="background-color: aquamarine; border-radius: 25px; display: flex; justify-content: center; align-items: center; ">
        <img src="./img/h-m-re.png" style="width: 100px;" alt="">
        <p style="text-align: center; font-size: 40px; color:black;"> Exercise - 5</p>
    </div>

<div style="background-color: aquamarine; border-radius: 25px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <img src="./img/marketing-ad-icon.jpg" style="width: 80%; margin-top: 15px;" alt="">
        <p style="text-align: center; font-size: 40px; color:black"> The attached data set (csv.AB_marketing) shows an online store that
            Implemented an advertising campaign to increase sales. This campaign is in the group_test column
            It is clear. In fact, each of the users of the online store has a row of the data collection
            They are either in the ads category or in the psa category. People who are placed in ads category have seen advertisements and people who are placed in psa category have seen advertisements.
            have not seen
            In the CONVERTED column, it is specified whether each of the users (rows) made a purchase or not.
            Using interpretive statistics, check if viewing the ad had an impact on users buying from our store or not?</p>
    </div>

 <div style="background-color: aquamarine; border-radius: 25px; display: flex; justify-content: center; align-items: center;  ">
        <img src="./img/lib-re.png" style="width: 100px; margin-top: 15px;" alt="">
        <p style="text-align: center; font-size: 40px; color:black;"> IMPORTING LIBRARY</p>
    </div>

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import math
import pickle

<div>
        <img src="./img/data-vs-information.jpg" style="width: 100%; border-radius: 30px;">
</div>

In [4]:
df = pd.read_csv('marketing_AB.csv')

<div style="position: relative;">
        <img src="./img/profit-and-loss-dashboard.png" style="width: 100%; " alt="">
        <p style="position: absolute; top: 70px; left: 70px; font-size: 50px; color: black; font-weight: bolder;">DATA OVERVIEW</p>
    </div>

<div style="background-color: aquamarine; border-radius: 25px;">
        <p style="text-align: center; font-size: 40px; font-weight: bolder; color:black;"> SHAPE :</p>
    </div

In [5]:
rows,col = df.shape
print("rows : ", rows)
print("clos : ", col)

rows :  588101
clos :  7

<div style="background-color: aquamarine; border-radius: 25px;">
        <p style="text-align: center; font-size: 40px; font-weight: bolder; color: black;"> INFO :</p>
    </div>

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588101 entries, 0 to 588100
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     588101 non-null  int64
 1   user id        588101 non-null  int64
 2   test group     588101 non-null  object
 3   converted      588101 non-null  bool
 4   total ads      588101 non-null  int64
 5   most ads day   588101 non-null  object
 6   most ads hour  588101 non-null  int64
dtypes: bool(1), int64(4), object(2)
memory usage: 27.5+ MB

<div style="background-color: aquamarine; border-radius: 25px;">
        <p style="text-align: center; font-size: 40px; font-weight: bolder; color: black;"> HEAD :</p>
    </div>

In [7]:
df.head()

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour
0,0,1069124,ad,False,130,Monday,20
1,1,1119715,ad,False,93,Tuesday,22
2,2,1144181,ad,False,21,Tuesday,18
3,3,1435133,ad,False,355,Tuesday,10
4,4,1015700,ad,False,276,Friday,14

 <div style="background-color: aquamarine; border-radius: 25px;">
        <p style="text-align: center; font-size: 40px; font-weight: bolder; color: black;"> DESCRIBE :</p>
    </div>

In [8]:
df.describe()

          Unnamed: 0       user id      total ads  most ads hour
count  588101.000000  5.881010e+05  588101.000000  588101.000000
mean   294050.000000  1.310692e+06      24.820876      14.469061
std    169770.279667  2.022260e+05      43.715181       4.834634
min         0.000000  9.000000e+05       1.000000       0.000000
25%    147025.000000  1.143190e+06       4.000000      11.000000
50%    294050.000000  1.313725e+06      13.000000      14.000000
75%    441075.000000  1.484088e+06      27.000000      18.000000
max    588100.000000  1.654483e+06    2065.000000      23.000000

<div>
        <img src="./img/clean.png" style="width: 100%; border-radius: 30px;" alt="">
    </div>

In [9]:
df.isnull().any()

Unnamed: 0       False
user id          False
test group       False
converted        False
total ads        False
most ads day     False
most ads hour    False
dtype: bool

In [10]:
df.isnull().sum()

Unnamed: 0       0
user id          0
test group       0
converted        0
total ads        0
most ads day     0
most ads hour    0
dtype: int64