<div style="background-color: aquamarine; border-radius: 25px; display: flex; justify-content: center; align-items: center; ">
        <img src="./img/h-m-re.png" style="width: 100px;" alt="">
        <p style="text-align: center; font-size: 40px; color:black;"> Exercise - 6</p>
    </div>

<div style="background-color: aquamarine; border-radius: 25px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <img src="./img/In-Game-Billboards.png" style="width: 80%; margin-top: 15px;" alt="">
        <p style="text-align: center; font-size: 40px; color:black"> The attached dataset shows a mobile game. This mobile game has divided its users into two groups, and advertisements are not displayed to the first group, but advertisements related to the game are displayed in the second group (visible in the version column of these two groups).
            Also, in the gamerounds_sum column, you can see the number of times each user (each line) has played.
            In the version column in the 30gate group, users for whom advertisements are not displayed and in
            The 40gate group contains users who have been shown interesting ads.
            Using statistical tests (TTest or UTest or Codebase) try to find out if
            Was the advertisement effective or not? That is, advertising increases the number of game rounds for players
            gamerounds_sum or not?</p>
    </div>

 <div style="background-color: aquamarine; border-radius: 25px; display: flex; justify-content: center; align-items: center;  ">
        <img src="./img/lib-re.png" style="width: 100px; margin-top: 15px;" alt="">
        <p style="text-align: center; font-size: 40px; color:black;"> IMPORTING LIBRARY</p>
    </div>

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import math
import pickle

<div>
        <img src="./img/data-vs-information.jpg" style="width: 100%; border-radius: 30px;">
</div>

In [2]:
df = pd.read_csv('./mibilegame.csv')

<div style="position: relative;">
        <img src="./img/profit-and-loss-dashboard.png" style="width: 100%; " alt="">
        <p style="position: absolute; top: 70px; left: 70px; font-size: 50px; color: black; font-weight: bolder;">DATA OVERVIEW</p>
    </div>

<div style="background-color: aquamarine; border-radius: 25px;">
        <p style="text-align: center; font-size: 40px; font-weight: bolder; color:black;"> SHAPE :</p>
    </div

In [3]:
rows, col = df.shape
print("rows : ", rows)
print("cols : " , col)

rows :  90189
cols :  5

<div style="background-color: aquamarine; border-radius: 25px;">
        <p style="text-align: center; font-size: 40px; font-weight: bolder; color: black;"> INFO :</p>
    </div>

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  bool
 4   retention_7     90189 non-null  bool
dtypes: bool(2), int64(2), object(1)
memory usage: 2.2+ MB

<div style="background-color: aquamarine; border-radius: 25px;">
        <p style="text-align: center; font-size: 40px; font-weight: bolder; color: black;"> HEAD :</p>
    </div>

In [6]:
df.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

 <div style="background-color: aquamarine; border-radius: 25px;">
        <p style="text-align: center; font-size: 40px; font-weight: bolder; color: black;"> DESCRIBE :</p>
    </div>

In [7]:
df.describe()

             userid  sum_gamerounds
count  9.018900e+04    90189.000000
mean   4.998412e+06       51.872457
std    2.883286e+06      195.050858
min    1.160000e+02        0.000000
25%    2.512230e+06        5.000000
50%    4.995815e+06       16.000000
75%    7.496452e+06       51.000000
max    9.999861e+06    49854.000000

<div>
        <img src="./img/clean.png" style="width: 100%; border-radius: 30px;" alt="">
    </div>

In [8]:
df.isnull().any()

userid            False
version           False
sum_gamerounds    False
retention_1       False
retention_7       False
dtype: bool

In [9]:
df.isnull().sum()

userid            0
version           0
sum_gamerounds    0
retention_1       0
retention_7       0
dtype: int64